{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>

    <title>
        {% block title %}
        {% endblock %}
        / {%  trans "Red Plants" %}
        </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {%  if LANGUAGE_BIDI %}
        <link href="{% static 'css/bootstrap-rtl.css' %}" rel="stylesheet">
    {%  else %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {%  endif  %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
        
        <p>
            {% if user.id %}
              {{user.username}}
              <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
              <a href="{% url 'post_ob' %}">Add Observation</a>
              
            {% else %}
              <a href="{% url 'login' %}">{%  trans "login" %}</a>
            {% endif %}
        </p>


        {% block content %}

          PUT CONTENT HERE

        {% endblock %}

    </div>
<!-- 
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    -->
    
  </body>
</html>