{% extends "base.html" %}

{% block title %}
    {{object}}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">

    <ol class="breadcrumb">
      <li><a href="{% url 'species' %}">Home</a></li>
    </ol>

    <h1>
        {{object.name}}
        {{object.common_name}}
    </h1>
    
    <dl>
        <dt>Family</dt>
        <dd>{{object.family}}</dd>
    
        <dt>IUCN Level</dt>
        <dd>
            <span class="text-{{object.iucn_label}}">
                {{object.get_iucn_level_display|default:'No Info'}}
            </span>
        </dd>
    
        <dt>Details</dt>
        <dd>{{object.details|linebreaks}}</dd>
    
        <dt>Likes</dt>
        <dd>{{likes}}</dd>
    
    </dl>


    {% if user_like %}
        <form method="post" action="{% url 'unlike' object.id %}">
            {% csrf_token %}
            <button class="btn btn-default">Undo Like</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'like' object.id %}">
            {% csrf_token %}
            <button class="btn btn-success">Like!</button>
        </form>
    {% endif %}

    </div>
</div>

{% endblock %}
