{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">

      <h1>
          {% trans "All Species" %}
      </h1>

      <ul class="list-group">
          {% for o in object_list %}
            <li class="list-group-item">
                <a href="{{o.get_absolute_url}}">
                  {{o}}
                </a>
                <span class="badge">{{o.users.count|default:''}}</span>
            </li>
          {% endfor %}
      </ul>
    </div>

    {% blocktrans %}
    Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
    cupidatat non proident, sunt in culpa
    {% endblocktrans %}

</div>
{% endblock %}