{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {%  trans "Home" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">

      <h1>
          {%  trans "All Species" %}
      </h1>

      <p>
          {% blocktrans %}Welcome to the great site of the red species!{% endblocktrans %}
      </p>

      <ul class="list-group">
          {% for o in object_list %}
            <li class="list-group-item">
                <a href="{{o.get_absolute_url}}">
                  {{o}}
                </a>
                <span class="badge">{{o.users.count|default:''}}</span>
            </li>
          {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}